<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.robertjackson.finalproject">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainMenu_Project_Planner"
            android:label="Test"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".StartActivity_Schedual_Planner"
            android:theme="@style/AppTheme.NoActionBar"/>
        <fragment android:name=".InputActivity_Schedual_Planner" />
        <activity android:name=".ListViewActivity_Schedual_Planner" />
        <activity android:name=".InputFragmentHolder_Schedual_Planner"></activity>
        <activity
            android:name=".ProjectFormActivity_Project_Planner"
            android:label="Test"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".StudentFormActivity_Project_Planner"
            android:label="Test"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ProjectListActivity_Project_Planner"
            android:label="Test"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".ProfessorListActivity"
            android:label="@string/title_professor_list"
            >
        </activity>

        <activity
            android:name=".ProfessorProfessorActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name=".ProfessorDetailActivityProfessorActivity"
            android:label="@string/title_professor_detail"
            android:parentActivityName=".ProfessorListActivity"
            android:theme="@style/AppTheme.NoActionBar">
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.example.robertjackson.finalproject.ProfessorListActivity" />
        </activity>

    </application>

</manifest>